.projects {
  margin-top: 60px;
  @include mq("tablet") {
    margin-top: 120px;
  }
  &-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 40px;
    @include mq("tablet") {
      flex-direction: row;
    }
  }
}
