@mixin mq($width: "tablet") {
  @if ($width == "tablet") {
    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {
      @content;
    }
  } @else if($width == "desktop") {
    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {
      @content;
    }
  } @else if($width == "large") {
    // Extra large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {
      @content;
    }
  }
}

// Typography

@mixin heading1 {
  font-size: 4em;
  font-weight: 600;
  line-height: 84px;
  letter-spacing: -3%;
}
@mixin heading2 {
  font-size: 1.75em;
  font-weight: 600;
}
@mixin heading3 {
  font-size: 1.5em;
  font-weight: 500;
}
@mixin link {
  font-size: 1em;
  font-weight: 500;
}
@mixin text {
  font-size: 1.125em;
  font-weight: 400;
}
@mixin shadowTitle1 {
  font-size: 7.5em;
  font-weight: 700;
  line-height: 1em;
}
@mixin shadowTitle2 {
  font-size: 5em;
  font-weight: 700;
  line-height: 1em;
}
@mixin subtitle {
  font-size: 0.75em;
  font-weight: 500;
}
@mixin footer {
  font-size: 3em;
  font-weight: 500;
  line-height: 1.125em;
}
@mixin menu {
  font-size: 1.125em;
  font-weight: 600;
}
@mixin mobileHeading1 {
  font-size: 1.75em;
  font-weight: 600;
  line-height: 1.375em;
}
@mixin mobileHeading2 {
  font-size: 1.25em;
  font-weight: 600;
}
@mixin mobileHeading3 {
  font-size: 1.25em;
  font-weight: 500;
}
@mixin mobileShadowTitle2 {
  font-size: 3em;
  font-weight: 700;
  line-height: 1.25em;
}
@mixin mobileFooter {
  font-size: 2.25em;
  font-weight: 700;
  line-height: 1.25em;
}
@mixin mobileText {
  font-size: 1em;
  font-weight: 400;
}
@mixin postTitle {
  font-size: 2em;
  font-weight: 600;
  letter-spacing: -3%;
}
