@import "../../styles//abstracts/";
.pageTitle {
  font-size: 64px;
  font-weight: 700;
  line-height: 1;
  position: absolute;
  top: -40px;
  left: 5px;
  color: #24282e;
  text-transform: uppercase;
  z-index: -1;
  @include mq("tablet") {
    font-size: 96px;
    font-weight: 700;
    line-height: 1;
    position: absolute;
    top: -60px;
    left: 10px;
    color: #24282e;
    text-transform: uppercase;
    z-index: -1;
  }
  @include mq("desktop") {
  }
  @include mq("large") {
    font-size: 120px;
    font-weight: 700;
    line-height: 1;
    position: absolute;
    top: -60px;
    left: -70px;
    color: #24282e;
    text-transform: uppercase;
    z-index: -1;
  }
}
.title {
  @include mobileHeading1;
  @include mq("tablet") {
    font-size: 3em;
  }
  @include mq("desktop") {
    font-size: 3.5em;
  }
  @include mq("large") {
    @include heading1;
  }
}
.details {
  width: 100%;
  margin-top: 24px;
  @include mobileHeading3;
  @include mq("tablet") {
    font-size: 1.5em;
  }
  @include mq("desktop") {
    margin-top: 16px;
    width: 800px;
  }
  @include mq("large") {
    @include heading3;
  }
  .link {
    color: $blue;
    font-weight: 600;
  }
}
