@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply mx-4 bg-primary text-base leading-7 text-secondary sm:mx-10 sm:my-0 md:m-0;
}
.pagecontainer {
  @apply mx-auto w-full sm:w-full md:w-[960px];
}
main {
  @apply pagecontainer;
}
/* HEADER  */
header {
  @apply pagecontainer relative mb-10 flex h-20 w-auto items-center justify-between py-5 text-secondary sm:mb-16 md:mb-20;
}
.logo {
  @apply flex h-10 items-center gap-x-4 transition duration-300 hover:opacity-80;
}
.logo-profile {
  @apply rounded-full;
}
.header-info {
  @apply flex h-full flex-col justify-between;
}
.header-name {
  @apply w-max text-lg font-semibold leading-none text-white;
}
.header-role {
  @apply w-max text-sm leading-none text-secondary;
}
.menuicon {
  @apply flex cursor-pointer sm:hidden;
}
nav {
  @apply hidden h-10 items-center sm:flex;
}
nav a {
  @apply flex h-full items-center rounded-lg px-4 text-base font-semibold text-secondary transition duration-300 hover:bg-white/10 hover:text-white;
}
.mobile-nav {
  @apply absolute left-0 top-20 flex h-auto w-full flex-col items-start gap-y-2 bg-primary py-4 sm:hidden;
}
.mobile-nav a {
  @apply h-10 w-full;
}
/* HEADER END */

/* HERO */
.hero {
  @apply flex flex-col gap-4 sm:w-2/3 md:w-1/2;
}
.title {
  @apply text-2xl font-semibold leading-9 text-white;
}
.text {
  @apply mt-4 text-base leading-7 text-secondary;
}

/* HERO END */

/* COMPONENTS */
.button {
  @apply mt-2 flex h-12 w-max cursor-pointer items-center gap-x-1 rounded-lg border border-solid border-[#626262] px-6 text-base font-semibold leading-6 text-white transition duration-500 hover:bg-gray md:mt-6;
}
.button svg {
  @apply transition duration-500;
}

.post-card {
  @apply flex h-16 items-center rounded-lg border border-solid border-gray px-4 transition duration-500 hover:bg-gray sm:border-0;
  position: relative;
  z-index: 2;
  transition: opacity 0.3s linear;
}
.post-card-title {
  @apply relative z-10 text-base font-medium leading-6 text-secondary transition duration-300 group-hover:text-primary;
}
.post-card-date {
  @apply z-10 text-xs leading-[18px] text-secondary transition duration-300 group-hover:text-primary;
}
.post-card-container {
  @apply flex h-16 w-full items-center justify-between border-b border-solid border-gray transition duration-300;
}
.post-card::before {
  @apply absolute inset-0 z-[1] rounded-lg opacity-0;
  content: "";
  background: linear-gradient(90deg, #e4cf8d 0%, #dfb86c 50%, #dc8054 100%);
  transition: opacity 0.3s linear;
}
.post-card:hover::before {
  opacity: 1;
}
/* COMPONENTS END */

/* BLOG POSTS LIST */
.section {
  @apply mt-20 flex flex-col gap-y-6 sm:mt-16 md:mt-20;
}
.section-heading {
  @apply flex items-center gap-x-4;
}
.section-title {
  @apply title max-w-max;
}
.section-button {
  @apply flex h-8 cursor-pointer items-center rounded-lg border border-solid border-gray px-4 text-sm text-white transition duration-500 hover:bg-gray;
}
.section-button svg {
  @apply ml-2 transition duration-500;
}
.posts-lists {
  @apply mt-10 flex flex-col gap-y-4 sm:-ml-4 sm:w-[calc(100%+32px)] sm:gap-y-0;
}
/* BLOG POSTS LIST END */

/* PROJECT LIST  */
.project-lists {
  @apply flex flex-wrap gap-y-4 sm:-ml-4 sm:w-[calc(100%+32px)] sm:gap-y-0;
}
.project-card {
  @apply flex h-16 w-full rounded-lg border border-solid border-gray transition duration-500 sm:border-0 md:w-1/2;
  position: relative;
  z-index: 2;
  transition: opacity 0.3s linear;
}
.project-card-container {
  @apply mx-4 flex h-16 w-full items-center justify-between transition duration-300 sm:border-b sm:border-solid sm:border-gray;
}
.project-card-title {
  @apply relative z-10 transition-all duration-300 group-hover:text-primary;
}
.project-card-category {
  @apply absolute top-0 z-10 ml-2 hidden w-full text-xs font-medium text-primary transition-all duration-300 group-hover:inline-block;
}
.project-card-keywords {
  @apply z-10 flex h-7 items-center rounded-lg border border-solid border-gray px-[12px] text-sm text-secondary transition-all duration-300 group-hover:border-primary group-hover:text-primary;
}
.project-card::before {
  @apply absolute inset-0 z-[1] rounded-lg opacity-0;
  content: "";
  background: linear-gradient(90deg, #e4cf8d 0%, #dfb86c 50%, #dc8054 100%);
  transition: opacity 0.3s linear;
}
.project-card:hover::before {
  opacity: 1;
}
/* PROJECT LIST END  */

/* FOOTER */
footer {
  @apply pagecontainer mt-20 flex flex-col sm:mt-16 md:mt-20;
}
.footer-top {
  @apply flex flex-col gap-y-10 md:flex-row md:gap-y-0;
}
.footer-heading {
  @apply flex w-full flex-col md:w-1/2;
}
.footer-heading-title {
  @apply text-4xl font-medium text-white;
}
.footer-heading-link {
  @apply mt-9 text-2xl font-semibold text-orange-300 underline;
}
.footer-menu {
  @apply flex w-full flex-col md:w-1/2;
}
.footer-title {
  @apply text-lg font-semibold text-secondary;
}
.footer-menu-list {
  @apply mt-1 flex gap-x-6;
}
.footer-menu-list-item {
  @apply text-base font-medium text-white;
}
.footer-contact {
  @apply mt-6 flex flex-col;
}
.footer-email {
  @apply mt-1 text-base font-medium text-white;
}
.copyright {
  @apply mt-10 flex h-24 flex-col justify-evenly border-t border-solid border-gray md:h-20 md:flex-row md:items-center md:justify-between;
}
.copyright-text {
  @apply text-secondary;
}
.copyright-socials {
  @apply flex gap-x-6;
}
/* FOOTER END */

/* ABOUT */
.about {
  @apply flex flex-col gap-y-10 sm:flex-row sm:justify-between sm:gap-0 sm:gap-x-6;
}
.about-text {
  @apply sm:w-3/4 md:w-1/2;
}
.about-photo img {
  @apply w-full rounded-2xl sm:w-full sm:max-w-[380px] sm:rotate-3;
}
.gallery img {
  @apply rounded-lg;
}
.gallery {
  @apply mt-4 grid grid-cols-[repeat(1,1fr)] grid-rows-[repeat(1,1fr)] gap-x-4 gap-y-4 sm:mt-16 sm:grid-cols-[repeat(2,1fr)] sm:grid-rows-[repeat(2,1fr)] md:mt-20 md:grid-cols-[repeat(3,1fr)] md:grid-rows-[repeat(3,1fr)];
}
.gallery div img {
  @apply h-full w-full object-cover;
}
.gallery div:nth-child(1) {
  @apply sm:h-full md:col-start-1 md:col-end-2 md:row-start-1 md:row-end-2;
}
.gallery div:nth-child(2) {
  @apply sm:h-full md:col-start-2 md:col-end-3 md:row-start-1 md:row-end-3;
}
.gallery div:nth-child(3) {
  @apply sm:h-full md:col-start-3 md:col-end-4 md:row-start-1 md:row-end-2;
}
.gallery div:nth-child(4) {
  @apply sm:h-full md:col-start-1 md:col-end-2 md:row-start-2 md:row-end-4;
}
.gallery div:nth-child(5) {
  @apply sm:h-full md:col-start-2 md:col-end-3 md:row-start-3 md:row-end-4;
}
.gallery div:nth-child(6) {
  @apply sm:h-full md:col-start-3 md:col-end-4 md:row-start-2 md:row-end-4;
}

/* ABOUT END */

/* FILTER */
.tags {
  @apply mb-10 mt-10 flex flex-wrap gap-3;
}
.tag {
  @apply flex h-7 cursor-pointer items-center rounded-lg border border-solid border-[#525252] px-3 text-sm text-secondary hover:border-secondary hover:bg-gray;
}

/* FILTER END */

/* PHOTOS */
.photos-heading {
  @apply md:w-1/2;
}
.photos-gallery {
  @apply mt-10 flex flex-wrap gap-6;
}
.photos-gallery img {
  @apply w-full rounded-lg object-cover sm:w-[calc(50%-12px)] md:h-[360px] md:w-[calc(33%-13px)];
}
/* PHOTOS END */

/* PROJECTS */
.projects-heading {
  @apply md:w-1/2;
}
.projects {
  @apply mt-10;
}
.projects .project-lists {
}
.projects .project-lists .project-card {
  @apply md:w-8/12;
}
/* PROJECTS END */
/* POST */
article {
  @apply pagecontainer max-w-[768px];
}
.post-heading {
  @apply flex flex-col gap-y-4;
}
.post-title {
  @apply text-4xl font-bold text-white;
}
.post-info {
  @apply flex text-sm text-secondary;
}
.post-published-date {
  @apply text-sm text-secondary;
}
.post-published-date::after {
  content: "•";
  margin-left: 8px;
  margin-right: 8px;
}

.post-reading-time {
}
.divider {
  @apply h-[1px] w-full bg-gray;
}
article .post p + p {
  @apply mt-6;
}
article h2 {
  @apply mt-10 text-3xl font-semibold text-white;
}
article h2 + p {
  @apply mt-4;
}
article h3 {
  @apply mt-10 text-2xl font-semibold text-white;
}
article h3 + p {
  @apply mt-4;
}
article ul {
  @apply ml-6 mt-6 list-disc;
}
article ol {
  @apply ml-6 mt-6 list-decimal;
}
article a {
  @apply font-bold text-white underline;
}
article .post {
  @apply mt-6;
}
article b {
  @apply font-bold text-white;
}
article .post > img {
  @apply mt-10 h-full w-full rounded-lg object-cover;
}
article .post-gallery {
  @apply mt-10 flex flex-wrap gap-4;
}
article .post-gallery img {
  @apply h-[420px] w-1/2 max-w-[376px] rounded-lg object-cover;
}
/* POST END */
