@import "../../styles/abstracts/_index.scss";
.footer {
  background: linear-gradient(180deg, rgba($background, 0) 0%, $dark 100%);
  margin-top: 120px;
  @include mq("tablet") {
    height: 100%;
  }
  .container {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: $max-width;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    @include mq("tablet") {
      padding-left: 30px;
      padding-right: 30px;
    }
    @include mq("desktop") {
      padding-left: 40px;
      padding-right: 40px;
    }
    @include mq("large") {
      width: 1080px;
      padding-left: unset;
      padding-right: unset;
    }
  }
  .top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    gap: 48px;
    @include mq("desktop") {
      gap: unset;
      flex-direction: row;
      align-items: center;
    }
  }
  .bottom {
    display: flex;
    margin-bottom: 32px;
  }
  .left {
    display: flex;
    flex-direction: column;
    gap: 24px;
    .heading {
      @include mobileFooter;
      @include mq("desktop") {
        @include footer;
        gap: 48px;
        width: 400px;
      }
    }
    .link {
      @include heading2;
      width: max-content;
      border-bottom: 1px solid #fff;
      transition: background-color 0.2s, color 0.2s;
      &:hover {
        background-color: #fff;
        color: #000;
        transition: background-color 0.2s, color 0.2s;
      }
    }
  }
  .right {
    display: flex;
    flex-direction: column;
    gap: 32px;
    @include mq("tablet") {
      gap: 48px;
    }
    .menu {
      display: flex;
      flex-direction: column;
      gap: 4px;
      .heading {
        @include menu;
        color: $gray;
      }
      .list {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        .item {
          @include menu;
        }
      }
    }
  }
  .copyright {
    @include menu;
    color: $gray;
    margin-top: 32px;
    @include mq("tablet") {
      padding-top: unset;
      padding-bottom: unset;
    }
  }
}
