.footer {
  background: linear-gradient(180deg, rgba($background, 0) 0%, $dark 100%);
  height: 480px;
  margin-top: 120px;
  .container {
    width: 1080px;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  &-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
  }
  &-bottom {
    display: flex;
    margin-bottom: 32px;
  }
  &-left {
    display: flex;
    flex-direction: column;
    gap: 48px;
    &-heading {
      @include footer;
      width: 400px;
    }
    &-link {
      @include heading2;
      width: max-content;
      border-bottom: 1px solid #fff;
      transition: background-color 0.2s, color 0.2s;
      &:hover {
        background-color: #fff;
        color: #000;
        transition: background-color 0.2s, color 0.2s;
      }
    }
  }
  &-right {
    display: flex;
    flex-direction: column;
    gap: 48px;
    &-menu {
      display: flex;
      flex-direction: column;
      gap: 4px;
      &-heading {
        @include menu;
        color: $gray;
      }
      &-list {
        display: flex;
        gap: 24px;
        &-item {
          @include menu;
        }
      }
    }
  }
  &-copyright {
    @include menu;
    color: $gray;
  }
}
