.homepage {
  padding-top: 120px;
  .container {
    width: 1080px;
  }
  &-hireme {
    display: flex;
    align-items: center;
    width: max-content;
    margin-top: 32px;
    @include link;
    padding: 16px 32px;
    background-color: #fff;
    color: $background;
    border-radius: $border;
    border: 1px solid transparent;
    transition: background-color 0.4s, color 0.4s, border 0.4s;
    &:hover {
      background-color: $dark;
      color: #fff;
      border: 1px solid #fff;
      transition: background-color 0.4s, color 0.4s, border 0.4s;
      &:hover svg {
        fill: #fff;
        rotate: -45deg;
        transition: fill 0.4s, rotate 0.4s;
      }
    }
    svg {
      margin-left: 8px;
      transition: fill 0.4s, rotate 0.4s;
    }
  }
  &-blog {
    margin-top: 200px;
    position: relative;
    &-list {
      margin-top: 24px;
      display: flex;
      flex-direction: column;
      gap: 8px;
      &-post {
        height: 56px;
        display: flex;
        align-items: center;
        margin-left: -16px;
        padding-left: 16px;
        padding-right: 16px;
        width: calc(100% + 32px);
        border-radius: $border;
        border: 1px solid transparent;
        transition: background-color 0.4s, border 0.4s;
        &:hover {
          background-color: $dark;
          border: 1px solid $gray;
          transition: background-color 0.4s, border 0.4s;
          svg {
            opacity: 1;
            fill: white;
            margin-left: 8px;
            rotate: -45deg;
            transition: opacity 0.4s;
          }
        }
        svg {
          transition: opacity 0.4s;
          opacity: 0;
        }
        &-title {
          @include link;
          padding-bottom: 2px;
          border-bottom: 1px solid $gray;
        }

        &-date {
          @include subtitle;
          margin-left: auto;
        }
      }
    }
  }
  &-projects {
    margin-top: 200px;
    position: relative;
    &-list {
      display: flex;
      flex-wrap: wrap;
      gap: 32px;
      margin-top: 24px;
      &-item {
        width: calc(50% - 16px);
        background-color: $background;
        padding: 16px;
        border-radius: $border;
        border: 2px solid $gray;
        transition: background-color 0.4s;
        &:hover {
          background-color: $dark;
          transition: background-color 0.4s;
        }
        &-title {
          @include heading3;
        }
        &-category {
          margin-top: 8px;
          @include subtitle;
        }
      }
    }
  }
  &-heading {
    @include heading2;
  }
  &-link {
    width: max-content;
    display: flex;
    align-items: center;
    margin-top: 8px;
    @include link;
    color: $gray;
    svg {
      margin-left: 12px;
      fill: $gray;
    }
  }
}
