@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@mixin mq($width: "tablet") {
  @if ($width == "tablet") {
    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {
      @content;
    }
  } @else if($width == "desktop") {
    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {
      @content;
    }
  } @else if($width == "large") {
    // Extra large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {
      @content;
    }
  }
}

// Typography

@mixin heading1 {
  font-size: 4em;
  font-weight: 600;
  line-height: 84px;
  letter-spacing: -3%;
}
@mixin heading2 {
  font-size: 1.75em;
  font-weight: 600;
}
@mixin heading3 {
  font-size: 1.5em;
  font-weight: 500;
}
@mixin link {
  font-size: 1em;
  font-weight: 500;
}
@mixin text {
  font-size: 1.125em;
  font-weight: 400;
}
@mixin shadowTitle1 {
  font-size: 7.5em;
  font-weight: 700;
  line-height: 1em;
}
@mixin shadowTitle2 {
  font-size: 5em;
  font-weight: 700;
  line-height: 1em;
}
@mixin subtitle {
  font-size: 0.75em;
  font-weight: 500;
}
@mixin footer {
  font-size: 3em;
  font-weight: 500;
  line-height: 1.125em;
}
@mixin menu {
  font-size: 1.125em;
  font-weight: 600;
}
@mixin mobileHeading1 {
  font-size: 1.75em;
  font-weight: 600;
  line-height: 1.375em;
}
@mixin mobileHeading2 {
  font-size: 1.25em;
  font-weight: 600;
}
@mixin mobileHeading3 {
  font-size: 1.25em;
  font-weight: 500;
}
@mixin mobileShadowTitle2 {
  font-size: 3em;
  font-weight: 700;
  line-height: 1.25em;
}
@mixin mobileFooter {
  font-size: 2.25em;
  font-weight: 700;
  line-height: 1.25em;
}
@mixin mobileText {
  font-size: 1em;
  font-weight: 400;
}

body {
  font-family: "Poppins", sans-serif;
  color: #fff;
  line-height: 1.5;
  background-color: $background;
  margin-left: auto;
  margin-right: auto;
}
.container {
  max-width: $max-width;
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  @include mq("tablet") {
    padding-left: 30px;
    padding-right: 30px;
  }
  @include mq("desktop") {
    padding-left: 40px;
    padding-right: 40px;
  }
  @include mq("large") {
    width: 1080px;
    padding-left: unset;
    padding-right: unset;
  }
}
.background {
  .container {
    width: 1200px;
  }
  &-line {
    @include mq("tablet") {
      background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'  fill='black' viewBox='0 0 600 200'%3E%3Cpath d='M10 10h123v123H10z'/%3E%3C/svg%3E");
      background-size: 190px 1px;
      background-position: center;
      width: 1200px;
      height: 100vh;
      margin: 0 auto;
      position: fixed;
      z-index: -1;
      color: #24282e;
    }
  }
}

.shadow {
  color: #24282e;
  position: absolute;
  text-transform: uppercase;
  z-index: -1;
  left: -10px;
  top: -60px;
  @include mobileShadowTitle2;
  @include mq("tablet") {
    left: -20px;
    top: -70px;
    @include shadowTitle2;
  }
  @include mq("desktop") {
  }
  @include mq("large") {
    left: -70px;
    top: -90px;
  }
}