@import "../styles/abstracts/";
.container {
  max-width: 680px;
  width: 100%;
  margin: 0 auto;
  color: #dddddd;
}
.title {
  @include mobileHeading1;
  @include mq("tablet") {
    @include postTitle;
  }
  @include mq("desktop") {
    @include postTitle;
  }
  @include mq("large") {
    @include postTitle;
  }
}
.info {
  font-size: 0.875em;
  font-weight: 500;
  color: $gray;
  margin-top: 1em;
}
.readingtime {
  &::before {
    content: "\2022";
    margin-left: 12px;
    margin-right: 12px;
  }
}
.article {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  @include mq("tablet") {
    margin-top: 32px;
  }
  p {
    font-size: 1em;
    line-height: 1.625em;
    margin-bottom: 2em;
  }
  p img {
    border-radius: $border;
    margin: 0 auto;
    max-width: 100%;
    position: relative;
    width: unset !important;
    height: unset !important;
    @include mq("desktop") {
      width: 800px;
    }
  }
  p a {
    margin-top: 42px;
    font-weight: 600;
    position: relative;
    transition: color 0.2s ease-in-out;
    &:hover {
      color: $blue;
      transition: color 0.2s ease-in-out;
    }
    &::after {
      content: "";
      position: absolute;
      bottom: 0px;
      left: 0px;
      width: 100%;
      height: 3px;
      background-color: $gray;
      border-radius: 3px;
      transition: background-color 0.2s ease-in-out;
    }
    &:hover::after {
      background-color: $blue;
      transition: background-color 0.2s ease-in-out;
    }
  }
  h2 {
    font-size: 1.325em;
    font-weight: 600;

    color: #ffffff;
  }
  h2 + p,
  h2 + ul {
    margin-top: 0.75em;
  }
  ul {
    list-style: disc;
    margin-left: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
  ul + p {
    margin-top: 2em;
  }
}
.heading2 {
  @include mobileHeading2;
  @include mq("tablet") {
    @include heading2;
  }
}
.heading2 + p {
  margin-top: -24px;
}

.share {
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}
.item {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #fff;
  border-radius: $border;
  @include link;
  width: 120px;
  height: 36px;
  cursor: pointer;
  background-color: transparent;
  color: #fff;
  &:hover {
    background-color: #fff;
    color: $dark;
    svg {
      fill: $dark;
    }
  }
  svg {
    fill: #fff;
    margin-right: 8px;
  }
}
.comment {
  width: 100%;
  margin-top: 40px;
  background-color: $dark;
  padding: 32px;
  border-radius: $border;
  @include mq("tablet") {
    width: 720px;
  }
}
