@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Poppins", sans-serif;
  color: #fff;
  line-height: 1.5;
  background-color: $background;
  margin-left: auto;
  margin-right: auto;
}
.container {
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
}
.background {
  .container {
    width: 1200px;
  }
  &-line {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'  fill='black' viewBox='0 0 600 200'%3E%3Cpath d='M10 10h123v123H10z'/%3E%3C/svg%3E");
    background-size: 190px 1px;
    background-position: center;
    width: 1200px;
    height: 100vh;
    margin: 0 auto;
    position: fixed;
    z-index: -1;
  }
}

.shadow {
  font-size: 80px;
  font-weight: 700;
  color: #24282e;
  position: absolute;
  text-transform: uppercase;
  left: -70px;
  top: -90px;
  z-index: -1;
}

.hero {
  &-page-title {
    font-size: 120px;
    font-weight: 700;
    line-height: 1;
    position: absolute;
    top: -60px;
    left: -70px;
    color: #24282e;
    text-transform: uppercase;
    z-index: -1;
  }
  &-title {
    @include heading1;
  }
  &-details {
    @include heading3;
    margin-top: 16px;
    width: 640px;
    &-link {
      color: $blue;
      font-weight: 600;
    }
  }
}
