@import "../styles/abstracts/";
.details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 32px;
  @include mq("tablet") {
    margin-top: 120px;
    flex-direction: row;
    gap: 32px;
  }
}
.left {
  width: 100%;
  @include mq("tablet") {
    width: 500px;
  }
}
.heading2 {
  @include mobileText;
  @include mq("tablet") {
    @include heading3;
  }
}

.right {
  margin-top: 32px;
  @include mq("tablet") {
    width: 500px;
    margin-top: 0px;
  }
}
.text {
  @include mobileText;
  @include mq("tablet") {
    @include text;
  }
}
.image {
  margin-top: 32px;
  border-radius: $border;
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
  @include mq("tablet") {
    margin-top: 80px;
  }
}
