@import "../styles/abstracts/";
.list {
  display: flex;
  flex-direction: column;
  width: calc(100% + 40px);
  gap: 32px;
  margin-left: -20px;
  margin-top: 40px;
  @include mq("tablet") {
    width: calc(100% + 40px);
    gap: unset;
  }
  @include mq("desktop") {
    width: 840px;
  }
}
