@import "../styles/abstracts/";
.blog {
  margin-top: 60px;
  @include mq("tablet") {
    margin-top: 120px;
  }
}
.container {
  composes: container from global;
}
.list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 32px;
  @include mq("tablet") {
    gap: 8px;
    margin-top: 24px;
  }
}
