@import "../styles/abstracts/";
.contact {
  margin-top: 60px;
  @include mq("tablet") {
    margin-top: 120px;
  }
}
.container {
  composes: container from global;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 32px;
  @include mq("tablet") {
    margin-top: 80px;
  }
}
.item {
  display: flex;
  flex-direction: column;
}
.label {
  @include menu;
}
.input {
  height: 48px;
  background-color: $dark;
  border: 1px solid $gray;
  border-radius: $border;
  padding-left: 16px;
  margin-top: 6px;
  color: #fff;
  width: 100%;
  @include mobileText;
  @include mq("tablet") {
    width: 640px;
    @include text;
  }
  &::placeholder {
    color: $gray;
  }
  &:focus {
    outline: none;
    border: 1px solid white;
  }
}
.textarea {
  line-height: 1.5em;
  padding: 16px;
  height: 140px;
  @include mobileText;
  @include mq("tablet") {
    @include text;
  }
}
.button {
  background-color: white;
  color: $dark;
  width: max-content;
  border-radius: $border;
  padding: 16px 32px;
  border: 1px solid white;
  cursor: pointer;
  @include link;
  transition: background-color 0.4s, color 0.4s;
  &:hover {
    background-color: $dark;
    color: #fff;
    transition: background-color 0.4s, color 0.4s;
  }
}
