@import "../styles/abstracts/";
.blog {
  margin-top: 200px;
  position: relative;
}
.shadow {
  color: #24282e;
  position: absolute;
  text-transform: uppercase;
  z-index: -1;
  left: -10px;
  top: -60px;
  @include mobileShadowTitle2;
  @include mq("tablet") {
    left: -20px;
    top: -70px;
    @include shadowTitle2;
  }
  @include mq("desktop") {
  }
  @include mq("large") {
    left: -70px;
    top: -90px;
  }
}
.blogList {
  display: flex;
  flex-direction: column;
  width: calc(100% + 40px);
  gap: 32px;
  margin-left: -20px;
  margin-top: 40px;
  @include mq("tablet") {
    width: calc(100% + 40px);
    gap: unset;
  }
  @include mq("desktop") {
  }
}
.projects {
  margin-top: 200px;
  position: relative;
}
.projectsList {
  display: flex;
  flex-direction: column;
  width: calc(100% + 40px);
  gap: 32px;
  margin-left: -20px;
  margin-top: 40px;
  @include mq("tablet") {
    width: calc(100% + 40px);
    gap: unset;
  }
  @include mq("desktop") {
  }
}
.item {
  background-color: $background;
  border-radius: $border;
  border: 2px solid $gray;
  transition: background-color 0.4s;
  width: 100%;
  @include mq("tablet") {
    width: calc(50% - 12px);
  }
  &:hover {
    background-color: $dark;
    transition: background-color 0.4s;
  }
}
.heading {
  @include mobileHeading2;
  @include mq("tablet") {
    @include heading2;
  }
}
.link {
  width: max-content;
  display: flex;
  align-items: center;
  margin-top: 8px;
  @include link;
  color: $gray;
  svg {
    margin-left: 12px;
    fill: $gray;
  }
}
