@import "../styles/abstracts/";
.blog {
  margin-top: 200px;
  position: relative;
}
.shadow {
  color: #24282e;
  position: absolute;
  text-transform: uppercase;
  z-index: -1;
  left: -10px;
  top: -60px;
  @include mobileShadowTitle2;
  @include mq("tablet") {
    left: -20px;
    top: -70px;
    @include shadowTitle2;
  }
  @include mq("desktop") {
  }
  @include mq("large") {
    left: -70px;
    top: -90px;
  }
}
.blogList {
  display: flex;
  flex-direction: column;
  width: calc(100% + 40px);
  gap: 32px;
  margin-left: -20px;
  margin-top: 40px;
  @include mq("tablet") {
    width: calc(100% + 40px);
    gap: unset;
  }
  @include mq("desktop") {
  }
}
.projects {
  margin-top: 200px;
  position: relative;
}
.projectsList {
  display: flex;
  flex-direction: column;
  width: calc(100% + 40px);
  gap: 32px;
  margin-left: -20px;
  margin-top: 40px;
  @include mq("tablet") {
    width: calc(100% + 40px);
    gap: unset;
  }
  @include mq("desktop") {
  }
}
.item {
  background-color: $background;
  border-radius: $border;
  border: 2px solid $gray;
  transition: background-color 0.4s;
  width: 100%;
  @include mq("tablet") {
    width: calc(50% - 12px);
  }
  &:hover {
    background-color: $dark;
    transition: background-color 0.4s;
  }
}
.heading {
  @include mobileHeading2;
  @include mq("tablet") {
    @include heading2;
  }
}
.link {
  width: max-content;
  display: flex;
  align-items: center;
  margin-top: 8px;
  @include link;
  color: $gray;
  svg {
    margin-left: 12px;
    fill: $gray;
  }
}
@keyframes hireme {
  0% {
    background-color: #61c486;
  }
  50% {
    background-color: #107837;
  }
  100% {
    background-color: #61c486;
  }
}
.hireme {
  background-color: #2a3930;
  height: 24px;
  padding: 8px 12px;
  text-transform: uppercase;
  color: #61c486;
  width: max-content;
  display: flex;
  gap: 6px;
  align-items: center;
  cursor: pointer;
  border-radius: 12px;
  font-weight: 600;
  font-size: 12px;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translate(-50%, -50%);
  @include mq("tablet") {
    top: -60px;
  }
}
.dot,
.signal {
  background-color: #61c486;
  height: 6px;
  width: 6px;
  border-radius: 3px;
  position: relative;
}
.signal {
  animation-name: signal;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}
@keyframes signal {
  0% {
    transform: scale(1);
    opacity: 0.8;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}
