@import "../styles/abstracts/";
.list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 40px;
  position: relative;
  @include mq("tablet") {
    flex-direction: row;
  }
  .item {
    width: calc(50% - 20px);
    height: 400px;
    margin-top: 0px;
    background-color: $dark;
    overflow: hidden;
    position: relative;
    border-radius: $border;
  }
}
