@import "../styles/abstracts/";
.list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 40px;
  position: relative;
  @include mq("tablet") {
    flex-direction: row;
  }
  .item {
    width: calc(50% - 20px);
    height: 400px;
    margin-top: 0px;
    background-color: $dark;
    overflow: hidden;
    position: relative;
    border-radius: $border;
  }
}
.filter {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 40px;
  height: 36px;
  .category {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: $border;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    // background-color: #fff;
    // color: $background;
    // border: 1px solid transparent;
    border: 1px solid white;
    color: white;
    transition: background-color 0.4s, color 0.4s, border 0.4s;
    &:hover {
      background-color: white;
      color: $dark;
      border: 1px solid #fff;
      transition: background-color 0.4s, color 0.4s, border 0.4s;
      &:hover svg {
        fill: #fff;
        rotate: -45deg;
        transition: fill 0.4s, rotate 0.4s;
      }
    }
    svg {
      margin-left: 8px;
    }
  }
  .nofilter {
    display: none;
  }
  .years {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-left: 16px;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    span {
      background-color: $background;
      border: 1px solid $gray;
      padding: 4px 12px;
      height: 36px;
      border-radius: $border;
      font-weight: 600;
      display: flex;
      align-items: center;
      line-height: 16px;
      cursor: pointer;
      .count {
        font-size: 12px;
        line-height: 16px;
        margin-left: 4px;
      }
    }
    .active {
      background-color: #fff;
      color: $dark;
    }
  }
}
.active {
  background-color: white !important;
  color: $dark !important;
  border: 1px solid #fff !important;
}
