@import "../styles/abstracts/";
.list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 40px;
  @include mq("tablet") {
    flex-direction: row;
  }
}
.item {
  width: 100%;
  margin-top: 32px;
  @include mq("tablet") {
    width: calc(50% - 20px);
    margin-top: 80px;
  }
  &:hover {
    img {
      transform: scale(1.1);
      border-radius: 8px;
    }
  }
}
