@import "../../styles/abstracts/";
.item {
  position: relative;
  cursor: pointer;
}
.itemInner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  z-index: 1;
  margin-left: 20px;
  margin-right: 20px;
  height: 80px;
  @include mq("tablet") {
    height: 80px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
.title {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.1px;
  color: #fff;
  width: max-content;
  display: flex;
  @include mq("tablet") {
    border-bottom: 1px solid #2f3039;
  }
}
.year {
  font-size: 12px;
  color: $gray;
  font-weight: 500;
  @include mq("tablet") {
    justify-content: flex-end;
  }
}
.selection {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 8px;
  top: 0px;
  left: 0px;
  background-color: #2f3039;
  z-index: -9;
}
