/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0 !important;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji !important;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/*! formalize.css | MIT License | github.com/interacthings/formalize */
*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  vertical-align: middle;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
p,
pre,
fieldset,
ul,
ol,
menu,
form {
  margin: 0;
}

button,
fieldset,
iframe {
  border: 0;
}

fieldset,
ul,
ol,
button,
menu {
  padding: 0;
}

ol,
ul {
  list-style: none;
}

textarea {
  resize: vertical;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

td {
  padding: 0;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.Header {
  height: 100px;
}
.Header .container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
@media (min-width: 768px) {
  .Header .container {
    flex-direction: row;
    align-items: center;
  }
}
.Header-logo {
  font-size: 48px;
  font-weight: 600;
  margin-top: 10px;
}
@media (min-width: 768px) {
  .Header-logo {
    margin-top: 0px;
  }
}
.Header-menu {
  margin-top: 10px;
}
.Header-menu a {
  color: #000;
  font-size: 18px;
  font-weight: 500;
}
.Header-menu a + a {
  margin-left: 20px;
}
@media (min-width: 768px) {
  .Header-menu {
    margin-left: auto;
    margin-top: 0px;
  }
}

.About {
  margin-top: 20px;
}
@media (min-width: 768px) {
  .About {
    margin-top: 80px;
  }
}
.About .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .About .container {
    flex-direction: row;
  }
}
.About-text {
  flex-grow: 3;
  order: 2;
}
@media (min-width: 768px) {
  .About-text {
    order: 1;
  }
}
.About-title {
  color: #000;
  font-size: 24px;
  line-height: 1.4em;
}
@media (min-width: 768px) {
  .About-title {
    font-size: 32px;
  }
}
.About-details {
  color: #000;
  line-height: 1.5em;
  font-size: 16px;
  font-weight: 400;
  margin-top: 20px;
}
@media (min-width: 768px) {
  .About-details {
    font-size: 18px;
  }
}
.About-photo {
  flex-grow: 1;
  order: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 20px;
}
.About-photo img {
  width: 240px;
}
@media (min-width: 768px) {
  .About-photo img {
    width: 320px;
  }
}
@media (min-width: 768px) {
  .About-photo {
    order: 2;
  }
}

.Work {
  margin-top: 80px;
}
.Work-title {
  margin-bottom: 40px;
  font-size: 36px;
}
.Work .container {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .Work .container {
    margin-bottom: 0px;
  }
}
.Work .container .works {
  width: calc(100%);
  margin-bottom: 0px;
}
@media (min-width: 768px) {
  .Work .container .works {
    width: calc(50% - 20px);
    margin-bottom: 40px;
  }
}
@media (min-width: 1200px) {
  .Work .container .works {
    width: calc(50% - 40px);
    margin-bottom: 40px;
  }
}
.Work .container .works:nth-child(2n + 1) {
  margin-right: auto;
}
@media (min-width: 768px) {
  .Work .container {
    flex-direction: row;
  }
}
.Work-photo {
  border-radius: 5px;
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
  width: 100%;
}
.Work-details {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 40px;
  margin-top: 20px;
}
.Work-details .tag {
  font-size: 16px;
  color: #646464;
  margin-bottom: 5px;
}
@media (min-width: 768px) {
  .Work-details .tag {
    font-size: 18px;
  }
}
.Work-details .title {
  margin-top: 10px;
}
.Work-details .title a {
  color: #000;
  font-size: 26px;
}
@media (min-width: 768px) {
  .Work-details .title a {
    font-size: 32px;
  }
}
.Work-details .description {
  font-size: 18px;
  color: #000;
  line-height: 1.4em;
  margin-top: 20px;
  font-weight: 400;
}

.Footer {
  height: 80px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.Footer .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
@media (min-width: 768px) {
  .Footer .container {
    flex-direction: row;
  }
}
.Footer-copyright {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 500;
}
@media (min-width: 768px) {
  .Footer-copyright {
    margin-bottom: 0px;
  }
}
.Footer-social {
  margin: 0;
  display: flex;
  align-items: center;
}
.Footer-social a {
  color: #000;
  font-weight: 500;
}
.Footer-social a + a {
  margin-left: 10px;
  color: #000;
  font-weight: 500;
}
@media (min-width: 768px) {
  .Footer-social {
    margin-left: auto;
  }
}

.underline-link {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  background-repeat: no-repeat;
  font-weight: 600;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  padding: 5px 0px 5px 0px;
  transition: background-size 0.25s ease-in;
}

.underline-about-link {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  background-repeat: no-repeat;
  font-weight: 600;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  padding: 5px 0px 5px 0px;
  transition: background-size 0.25s ease-in;
}

.underline-about-link:hover {
  background-size: 100% 88%;
}

.tag {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  background-repeat: no-repeat;
  font-weight: 600;
  width: fit-content;
  background-position: 0 88%;
  padding: 5px 10px 5px 10px;
  color: white;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  transition: background-size 0.25s ease-in;
}

.flexss {
  display: flex;
}
.flexss li {
  margin-left: 20px;
}
.blog-post h2 {
  font-size: 28px !important;
  font-weight: 700 !important;
  margin-top: 20px !important;
}

.blog-post p {
  margin-top: 20px !important;
  font-size: 19px !important;
  line-height: 1.7em !important;
}
.blog-post .twitter-tweet {
  margin: 0 auto !important;
}
.blog-post p a {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  background-repeat: no-repeat;
  font-weight: 600;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  padding: 5px 0px 5px 0px;
  transition: background-size 0.25s ease-in;
}

.blog-post p a:hover {
  background-size: 100% 88%;
}

.ustte:hover {
  border-radius: 16px;
  background-color: #fff;
  box-shadow: 0 0 72px 36px rgb(0 0 0 / 8%);
  -webkit-transform: scale(1.03) translate(0, -20px);
  -ms-transform: scale(1.03) translate(0, -20px);
  transform: scale(1.03) translate(0, -20px);
}
.digeri {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.blog-post span img {
  margin: 0 auto;
}

.footer-icon {
  display: inline-block !important;
  vertical-align: middle !important;
  display: flex !important;
  align-items: center !important;
  height: 42px !important;
  width: 42px !important;
  justify-content: center !important;
  padding: 10px !important;
}

.footer-icon svg {
  width: 28px;
  height: 28px;
}
