// Abstracts
@import "abstracts/_mixin";
@import "abstracts/_variables";

// Base
@import "base/_formalize";
@import "base/_normalize";
@import "base/_global";

:root {
  --max-width: 1440px;
  --background: #1b1f25;
  --gray: #5d616a;
  --shadow: #24282e;
  --dark: #12161c;
  --blue: #77adff;
  --border: 8px;
  --gutter: 32px;
}

.container {
  max-width: $max-width;
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  @include mq("tablet") {
    padding-left: 30px;
    padding-right: 30px;
  }
  @include mq("desktop") {
    padding-left: 40px;
    padding-right: 40px;
  }
  @include mq("large") {
    width: 1080px;
    padding-left: unset;
    padding-right: unset;
  }
}
.mobileMenu {
  position: relative;
  .switch {
    display: none;
  }
  .switch2 {
    display: block;
    @include mq("tablet") {
      display: none;
    }
  }

  .menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 80px;
    background-color: $dark;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    line-height: 1;
    width: 100%;
    z-index: 999;
    padding-bottom: 12px;
    gap: 12px;
    @include mq("tablet") {
      padding-bottom: unset;
      display: flex;
      align-items: center;
      flex-direction: row;
      color: #fff;
      position: unset;
      margin-top: unset;
      background-color: unset;
      width: unset;
      font-size: unset;
      font-weight: unset;
      line-height: unset;
      gap: 32px;
    }
    .item {
      padding-left: 20px;
      padding-right: 20px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: calc(100% - 40px);
      height: 48px;
      border-bottom: 1px solid rgba($gray, 0.3);
      &:hover {
        border-color: #fff;
        transition: border 0.2s;
      }
      @include mq("tablet") {
        padding-left: unset;
        padding-right: unset;
        background-color: unset;
        border: unset;
        width: unset;
        height: unset;
      }
    }
    .divider {
      display: none;
      @include mq("tablet") {
        display: block;
        width: 2px;
        height: 24px;
        background-color: $gray;
      }
    }
    svg {
      display: none;
      @include mq("tablet") {
        display: block;
      }
    }
  }
}
