// Abstracts
@import "abstracts/_mixin";
@import "abstracts/_variables";

// Base
@import "base/_formalize";
@import "base/_normalize";
@import "base/_global";

// Layout
@import "layout/_header";
@import "layout/_homepage";
@import "layout/_about";
@import "layout/_blog";
@import "layout/_projects";
@import "layout/_contact";
@import "layout/_post";
// @import "layout/_footer";

// Pages
@import "pages/_home";

:root {
  --max-width: 1440px;
  --background: #1b1f25;
  --gray: #5d616a;
  --shadow: #24282e;
  --dark: #12161c;
  --blue: #77adff;
  --border: 8px;
  --gutter: 32px;
}